/* general settings */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.alignItemCenter{
    align-items: center;
}

.spaceBtw{
    justify-content: space-between;
}

.wrapped{
    flex-wrap: wrap;
}

.justifyCenter{
    justify-content: center;

}

.marginTopBottom2em{
    margin: 2em 0;
}

.mrgR2em{
    margin-right: 2em;
}

.mrg1em{
    margin: 1em;
}

.mrgTop1em{
    margin-top: 1em;
}

.mrgBottom1em{margin-bottom: 1em;}

.pad1em{
    padding: 1em;
}

.pad05em{
    padding: 0.5em;
}

.padLeft1{
    padding-left: 1em;
}

.padtop1em{
    padding-top: 1em;
}

/* *********** */
/* header */

header{
    height: 65px;
    padding: 0 1em;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;     
}

.headLeft{
    width: 30%;

}
    

.headRight{
    width: 30%;
}


.dropboxLogo{
    height: calc( 100% / 3 );
}

button{
    padding: 6px 15px;
    background-color: blue;
    color: white;
    border: none
}

/* *******main */

main{
    margin-top: 65px;
}

/* Section 1 */

#firstSection{
    background-color:#b4d0e7;
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.boxed65{
    width: 65%;
    margin: auto;
}

h1{
    width: 90%;
    font-weight: bold;
    font-size: 4em;
    padding: 0.5em 0
}

#freeTrialButton{
    width: 75%;
}

.fa-arrow-down{
    font-size: 2.5em;
    margin-bottom: 1em;
    color: black;
}

.columnLeft{
    width: 30%;
}

.columnRight{
    width: 70%;
}

.columnRight.negativeMargin{
    margin-bottom: -2.5em;
}

#jumboImg{
    width: 100%;
}

/* Section 2 */

#secondSection{
    min-height: 400px;
    margin-top: 10em;
}

.boxed50{
    height: 100%;
    width: 50%;
    margin: auto;      
}

h2{
    font-size: 2em;
}

.column30.border{
    width: calc(100% / 3 - 30px);
    border: solid .5px;
    border-color: #d0d0d3;
}

.containerSecondSection{
    min-height: 400px;
    margin-top: 2em;
}

.headerSecondSection{
    margin-bottom: 2em;
}

.account{
    text-align: center;
    width: 100%;
    display: inline-block;
    border-bottom : solid .5px;
    border-color: #d0d0d3;
}

.Row{
    margin: 2em 0;
}

.short{
    margin-top: 1em;
    margin-right: 8em;
}

.checkSign{
    color: blue;
}

/* ****section 3**** */

#thirdSection{
    min-height: 400px;
}

.team{
    text-align: center;
}

#thirdSection > div{
    border: solid 1px;
    margin-top: 2em;
    border-color: #d0d0d3;
}

.firstRow{
    text-align: center;
    border-bottom: solid 1px;
    border-color: #d0d0d3;
}

/* section 4 */

#fourthSection > div{
    min-height: 400px;
}

.columnA{
    width: 70%;    
}

.columnB{
    width: 30%;    
}

#partnerImg{
    width: 100%;
    display: block;
}

/* ***section 5 */

#fifthSection{
    min-height: 400px;
    margin-top: 10em;
}

.section5Img{
    width: 100%;
}

.column30{
    width: 33.33%;    
}

.containerSecondSection > .column30 > h3{
    margin-bottom: 1em;
}




/* ***section 6*** */
#sixthSection{
    min-height: 250px;
    margin-top: 10em;
}

/* ***section 7*** */
.seventhSection{
    background-color: #f5f5f5;
    min-height: 400px;
}

.grid{
    background-color: beige;
    width: 50%;
    height: 50%;
}

.gridImg{
    width: 50%;
    filter: invert(1);
}

.gridImgCentre{
    width: 50%;
}

.column30.square{
    height: calc(100vw / 3);
}

.overflow{
    overflow-y: scroll;
    padding: 2em;
}

.oneL{
    background-color: green;
}

.twoL{
    background-color: rgb(255, 0, 187);
}

.threeL{
    background-color: lightblue;
}

.fourL{
    background-color: red ;
}

.oneR{
    background-color: red;
}

.twoR{
    background-color: lightskyblue ;

}

.threeR{
    background-color: darkblue;
}

.fourR{
    background-color: yellow;
}

/* ***section 8*** */

#eightSection{
    background-color: #b4d0e7;
    
}

#eightSection > div{
    padding-top: 5em;
    padding-bottom: 5em;  
}

/* **section 9 */

#ninthSection{
    margin: 2em 0;
}

#ninthSection > .boxed50{
    margin-top: 6em;
}

hr{
    color: black;
}

.faq:hover span i{
    transform: rotate(180deg);    
}

.faq:hover + .faqContent{
    display: block;
}   


.faqContent{
    display: none;
}




/* ******footer****** */

footer{
    background-color: black;
    color: white;
    margin-top: 4em;
    font-size: ;
}

.boxed60{
    width: 60%;
    margin: auto;
    min-height: 300px;
}

.bottomLink{
    margin-top: 2em;
}

.listStyleNone{
    list-style-type: none;
}

li{
    margin-bottom: .5em;
}





