/* general settings */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.alignItemCenter{
    align-items: center;
}

.spaceBtw{
    justify-content: space-between;
}

/* header */

header{
    height: 60px;
    padding: 0 1em;
    background-color: lightblue;    
    
}

.headLeft{
    width: 25%;

}
    

.headRight{
    width: 25%;
}


.dropboxLogo{
    height: calc( 100% / 3 );
}